.mouse {
    display: inline-block;
    width: 20px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.mouse > .wheel {
    display: inline-block;
    width: 2px;
    height: 4px;
    margin-top: 4px;
    border-radius: 2px;
    background-color: #fff;
    animation-name: wheelSlide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wheelSlide {
    0% {
        margin-top: 3px;
        opacity: 1;
    }
    50% {
        opacity: 1;
        margin-top: 8px;
    }
    100% {
        margin-top: 16px;
        opacity: 0;
    }
}